.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 640px;
  height: 90vh;
  border-radius: 15px;
  overflow: hidden;
  animation: slide-up 600ms ease-out forwards;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 100%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.modalClose {
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  border: none;
}

.closeItem {
  width: 20px;
  height: 20px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageContainer {
  width: 100%;
  height: 495px;
  overflow: hidden;
}

.modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.modalDescription {
  font-size: 1.2rem;
  line-height: 1.5;
  overflow: auto;
  max-height: 85px;
}

.cardButtons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px;
  margin-top: 10px;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #808080;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 680px) {
  .modalContainer {
    width: 90%;
    height: 88%;
  }
  .modalTitle {
    font-size: 1.2rem;
  }
  .modalDescription {
    font-size: 1rem;
  }
  .modalContent {
    padding: 10px;
    max-width: 90%;
  }
}

@media (max-width: 570px) {
  .imageContainer {
    height: 395px;
  }
}

@media (max-width: 460px) {
  .imageContainer {
    height: 300px;
  }
}

@media (max-width: 560px) {
  .modalContainer {
    height: 78%;
  }
}

@media (max-width: 460px) {
  .modalContainer {
    height: 66%;
  }
}

@media (max-width: 388px) {
  .modalContainer {
    height: 68%;
  }
}

@media (max-width: 360px) {
  .modalContainer {
    height: 60%;
  }
}
