.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.noResultText {
  position: absolute;
  font-size: 30px;
  left: 44%;
}

@media (max-width: 1200px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .noResultText {
    font-size: 20px;
    left: 40%;
  }
}

@media (max-width: 380px) {
  .cardsContainer {
    margin-left: 40px;
  }
}
