.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  color: lightyellow;
  text-decoration: underline;
}

a {
  color: lightblue;
  font-size: 35px;
  text-decoration: none;
}

nav {
  background-color: darkslategray;
  padding: 5px;
  width: fit-content;
  margin: 0 auto;
}

nav a {
  margin: 15px;
}

.empty__page-content {
  margin-top: 200px;
  font-size: 45px;
}
